body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
.header > div {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 0px;
}
.logo-dark {
  color: #2e2f42;
}
.logo-bright {
  color: #f4f4fd;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.address a:hover {
  color: #404bbf;
}
.address a:focus {
  color: #404bbf;
}
.distribution {
  background-color: #2e2f42;
  padding: 180px 0;
  text-align: center;
  color: #ffffff;
  padding-bottom: 188px;
  padding-top: 188px;
}
.distribution-caption {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.distribution-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}
.distribution button:hover {
  background-color: #404bbf;
}
.distribution button:focus {
  background-color: #404bbf;
}
.section {
  padding: 120px 0;
}
.goal-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.goal-item {
  width: calc((100% - 3 * 24px) / 4);
}
.goal-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.goal-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-caption {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.shadow-border {
  padding: 32px 0;
  background-color: #ffffff;
}
.border {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.team-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-header {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-list-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
